@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.pictosNav {
  width: 30px;
}

.logo {
  width:85px;
  padding: 5px 10px 7px 5px;
}

nav {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

#navbarTogglerDemo02 {
  flex-grow: initial;
}

.carouselpic {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.bd-example {
  height: 650px;
  overflow: hidden;
}

.carousel-caption {
  position: absolute;
  top: 7%;

}

h2, p {
  display: flex;
  justify-content: flex-start;
}

h2 {
    padding-bottom: 1px;
    border-bottom: 1px solid red;
    width: max-content;
    font-weight: bold;
}

p {
  font-weight: bold;
  margin-left: 1rem;
  padding-top: 10px;
  line-height: 0.3rem;

}

h5 {
  padding-top: 30px;
  text-align: center;
}

.presentation {
  line-height: 1.5rem;
}

.paragraphe {
  margin: 2px 150px 2px 150px;
}

.buttoncenter {
  display: block;
  width: max-content;
  margin: 0 auto;
}

.arrow {
  display: block;
  width:45px;
}

.collapsed .arrow {
  transform: rotate(180deg);
}

th {
  font-family: 'Fredericka the Great', cursive;
   padding-left: 20px;
   padding-top: 90px; 
}

.middle {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  text-align: center;
}

thead, tbody {
  padding-left: 20px;
}


