{% extends 'base.html.twig' %}
    {% block title %}Wild Circus adoption{% endblock %}
     {% block stylesheets %}
         {{ parent() }}
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     {% endblock %}
    {% block body %}
        <main>
            <div class="card-columns">
                <div class="card">
                    <div class="card-body">
                            <img class="card-img-top" src="/pictures/LEOPARD/jean-wimmerlin-YxDENE4HgMM-unsplash.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">BONGO WONGO</h4>
                                <p class="card-text cardadoption">
                                    Some quick example text to build on the card title
                                    and make up the bulk of the card's content.
                                </p>
                                <a href="#!" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <!-- Card content -->
                </div>
                <div class="card">
                    <div class="card-body">
                        <!-- Card content -->
                    </div>
                </div>
                <div class="card bg-primary p-3 text-center">
                    <!-- Card content -->
                </div>
            </div>
        </main>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}