{% extends 'base.html.twig' %}
    {% block title %}Wild Circus adoption{% endblock %}
     {% block stylesheets %}
         {{ parent() }}
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     {% endblock %}
    {% block body %}
        <main>

            <!--///////////////////////////// FILTER BAR ////////////////////////////////-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">Filtre par</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="#felins">Félins</li>
                                    <li class="#gros">Les gros</li>
                                    <li class="#petits">Les petits</li>
                                    <li class="divider"></li>
                                    <li class="#all">Tous</li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control search" name="x" placeholder="Recherchez votre prochains compagnons...">
                            <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
                        </div>
                    </div>
                </div>
            </div>

            <!--///////////////////////////// CARDS DECRIPTION ////////////////////////////////-->
            <div class="card-columns">
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/LEOPARD/jean-wimmerlin-YxDENE4HgMM-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">BONGO WONGO</h4>
                        <p class="card-text cardadoption">
                            Un léopard adorable, recupérer dans un cirque qui a mis la clef sous la porte. Bongo Wongo adore l'eau.
                            Un plan d'eau sera obligatoire pour ce gros matou.
                        </p>
                        <a href="#" class="btn btn-plus">Voir la fiche de Bongo Wongo</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/LEMUR/graphic-node-5TxNu0WymFA-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">PETIT BISCUIT</h4>
                        <p class="card-text cardadoption">
                            Petit biscuit, un lémurien de 2 ans, adorable qui demande que des calins. Il a été trouvé en
                            Thailande et recherche un couple qui lui servirait de parents.
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Petit Biscuit</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/GIRAFE/juan-carlos-gomez-rt2_-5PI2UU-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">ALOHOMORA</h4>
                        <p class="card-text cardadoption">
                            Cette girafe de 7 ans a été recueillit dans un zoo qui n'assumait plus l'espace dont elle avait besoin.
                            Alohomora est très curieuse, elle aime fourer sa truffe dans tous les endroits de votre maison !
                        </p>
                        <a href="#" class="btn btn-plus">Voir la fiche d'Alohomora</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img class="card-img-top" src="/pictures/TIGRE/briana-wallace-8iwF66VkcxM-unsplash.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title">MINOU</h4>
                            <p class="card-text cardadoption">
                                Ce jeune tigre de 3 ans a été repêché dans la bâltique. Il été mal en point mais maintenant il est devenu très vif.
                                Il recherche une famille, avec ou sans enfants, il est hyper sociable.
                            </p>
                            <a href="#" class="btn btn-plus">En savoir plus sur Minou</a>
                        </div>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/SEALION/adam-king-22pqeOB8Pp4-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">LILLY</h4>
                        <p class="card-text cardadoption">
                            L'otarie est une boule de mignories. Espiègle et joueuse, elle à été sacrée mascotte du recueil.
                            Elle a subit maltraitance et recherche quelqu'un de patient et gentil pour la recueillir.
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Lilly</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/LIONFEMALE/dominik-lange-_yAhvVlMdIQ-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">KIARA</h4>
                        <p class="card-text cardadoption">
                            Magnifique femelle d'un dizaine d'année, Kiara est douce et protectrice. Elle saura ravire les
                            grands comme les petits !
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Kiara</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/ELEPHANT/harshil-gudka-cHMPGlV-78c-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">HAKUNA MATATA</h4>
                        <p class="card-text cardadoption">
                            Une matriarche au sein d'une famille de 10 spécimens, elle a été arrachée à son troupeau
                            pour réaliser des numéros jusqu'en Pologne. Hakuna matata recherche une seconde famille.
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Hakuna Matata</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/LIONMALE/cassie-lafferty-Y2pH9NuO84w-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">TRELLO</h4>
                        <p class="card-text cardadoption">
                            Ce lion mâle de 12 ans et très docile. Il apprend vite et reste calme en vue de son âge.
                            Il mange énormement, c'est un gros glouton et fait la sieste tout le temps !
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Trello</a>
                    </div>
                </div>
                <div class="card p-3">
                    <img class="card-img-top" src="/pictures/PINGUIN/cara-fuller-glr74KCPmEQ-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">BONNIE & CLYDE</h4>
                        <p class="card-text cardadoption">
                            Ce couple de pingouin ont fait les 400 coups dans leur ancien cirque par signe de rebéllion.
                            Aujourd'hui ils sont sur le point d'accueillir un nouvel arrivant ! Ils cherchent donc un endroit stable
                            où élever leur petit.
                        </p>
                        <a href="#" class="btn btn-plus">En savoir plus sur Bonnie & Clyde</a>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}